# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/

code/*.py
code/*.pt
runs/detect/inference_output/

# Allow only Detection-related scripts
!code/inference.py
!code/train_detector.py
!code/prepare_yolo_data.py
!code/split_manual.py

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Dataset - Exclude large datasets
dataset/